{% if not items %}
   <div class="padded left-padded">
     Nothing to repeat for given dates!
   </div>

{% else %}
  <div class="main-header padded" id="agenda_items">Things to repeat
    {% if isRange %}
      from {{dates[0]}} to {{dates[1]}}
    {% else %}
      on {{dates[0]}}
    {% endif %}
  </div>
  <ul class="items left-padded">
    {% for item in items %}
      <li id="agenda_{{item.id}}" class="item {{'striked' if item.done }}">
        <label>
          <input
               type="checkbox"
               class="checkbox"
               id="a_{{item.repeat_item.date_created}}"
               onchange="changeDoneStatus(this)"
               {% if item.done %} checked {% endif %} />
          {{ item.repeat_item.description }}
        </label>

        <label class="added_days_ago">
          (added {{item.added_days_ago}} days ago)
        </label>

        <div class="tagcloud">
          {% for tag in item.repeat_item.tags %}
            {% include 'tag_item.html' %}
          {% endfor %}
        </div>

        <hr align="center"/>
      </li>
    {% endfor %}
  </ul>
{% endif %}
