{% extends "outer.html" %}

{% block main %}

  <h1>Repetition is the key.</h1>

    <h2>Add what you've learned today</h2>

    <form action="/" method="POST">
      <input type="text" placeholder="description" name="description">
      <input type="text" placeholder="tags" name="tags">
      <button type="submit">Submit</button>
    </form>

    <h2>Today I've learned</h2>

    {% if not result['today'] %}
        <div>Should learn something new!</div>
    {% else %}
        <ul class="items">
        {% for item in result['today'] %}
          <li class="item">
            <span>{{ item.description }}</span>
            <b>{{ item.tags }}</b>
          </li>
        {% endfor %}
        </ul>
    {% endif %}

    <h2>List of things to repeat today</h2>

    {% if not result['before'] %}
        <div>It seems there's nothing to repeat today...</div>
    {% else %}
        <ul class="items">
        {% for item in result['before'] %}
          <li class="item">
            <span>{{ item.description }}</span>
            <b>{{ item.tags }}</b>
            <span>(added {{item.added_days_ago}} days ago)</span>
          </li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
