{% extends "outer.html" %}

{% block main %}

<div class="grid-container">

  <button class="grid-item-what-is-it header-button">
    <span>What is this?</span>
    <span class="what-icon" ></span>
  </button>

  <div class="grid-item-header white-header">
      Spaced Junk
  </div>

  <button class="grid-item-settings header-button">
    <span>Settings</span>
    <i class="material-icons">settings</i>
  </button>

  <!--add what was learned-->
  <div class="grid-item-add">
    <div class="card-background">
      <div class="main-header padded">
        What have you studied today?
      </div>

      <form class="left-padded" id="new_item_form" method="POST">
        <input type="text" placeholder="description" class="add_item_input" name="description" required>
        <div id="added_tags" class="tags tagcloud"></div>
        <button class="main-button add-item-button" type="submit">Add Item</button>
      </form>

      <hr class="tagcloud_divider" align="center"/>

      <div class="left-padded">
        Choose tags for new item:
      </div>

      <input
          type="text"
          placeholder="Add/Find tag"
          id="tags_search"
          maxlength="500"
      >

      <div id="tagcloud" class="tags tagcloud left-padded">
        {% for tag in result.tags %}
          {% include 'tag_item.html' %}
        {% endfor %}
      </div>

     <!--list learned today-->
      <div class="main-header padded">
        Studied Today:
      </div>

        <div class="left-padded"
             id="learn-something-new"
             {% if result.today %}
                hidden
             {% endif %}>
          Should learn something new!
        </div>
        <ul id="to_repeat_container"
            class="items left-padded"
             {% if not result.today %}
                hidden
             {% endif %}>
        {% for item in result.today %}
          {% include 'added_today_item.html' %}
        {% endfor %}
        </ul>
    </div>
  </div>

  <!--list to repeat today-->
  <div class="grid-item-repeat card-background">
    <div class="main-header padded">
      To Repeat Today:
    </div>

    {% if not result['before'] %}
      <div class="left-padded">
        It seems there's nothing to repeat today... ^__^
      </div>
    {% else %}
      <ul class="items left-padded">
      {% for item in result['before'] %}
        <li id="t_{{item.id}}" class="item">
          <label class="{{'striked' if item.done }}">
            <input type="checkbox"
                   id="t_{{item.repeat_item.date_created}}"
                   onchange="changeDoneStatus(this)"
                   class="checkbox"
                   {% if item.done %} checked {% endif %} />

            {{ item.repeat_item.description }}
          </label>

          <div class="added_days_ago">
            (added {{item.added_days_ago}} days ago)
          </div>

          <div class="tags tagline">
            {% for tag in item.repeat_item.tags %}
              {% include 'tag_item.html' %}
            {% endfor %}
          </div>

          <hr align="center"/>
        </li>

      {% endfor %}
      </ul>
    {% endif %}


<!--show agenda for specific day-->
    <div class="main-header padded">
      Show history
    </div>

    <form class="left-padded" id="agenda_form" method="POST">

      <div>
        <label id="agenda_start_date_input_label" for="agenda_start_date_input">Show things to repeat on </label>
        <input
            type="date"
            id="agenda_start_date_input"
            name="agenda_start_date_input"
            min="2018-04-01"
            max="2018-08-20"
            required>

        <span id="agenda_end_date_block" hidden>
          <label for="agenda_end_date_input"> to </label>
          <input
              type="date"
              id="agenda_end_date_input"
              name="agenda_end_date_input"
              min="2018-04-01"
              max="2018-08-20">
          <span class="validity"></span>
        </span>
      </div>

      <div>
        <input type="checkbox"
               class="checkbox"
               id="agenda_is_dates_range"
               name="is_range"
               onchange="changeIsAgendaDatesRange(this)" />
        <label for="agenda_is_dates_range">See history for all dates in range</label>
      </div>

      <div>
        <button class="main-button show-history" type="submit">Show History</button>
      </div>
    </form>

    <div id="agenda_response_container" >
    </div>
  <!--end of to repeat item  -->
  </div>

<!--end of grid-container-->
</div>
{% endblock %}

{% block footer_includes %}
  <script type="text/javascript" src="spare_helper.js"></script>
  <link rel="stylesheet" href="grid.css">
  <link rel="stylesheet" href="spare_styles.css">
{% endblock %}
