.striked {
    text-decoration: line-through;
}

html {
font-family: 'Tinos', serif;
/*font-family: 'Yrsa', serif;*/
}

/* background img */
body {
    background-image: url("/celebration.png");
    height: 100%;

    overflow-x: hidden;
}

/* grid */
.grid-container {
    display: grid;
    grid-template-columns: [space-left-column] auto [add-column] 500px [repeat-column] 500px [space-right-column] auto;
    grid-template-rows: [header-row] 50px [main-row] auto; /* [search-row] auto */

    grid-column-gap: 20px;
    /* grid-row-gap: 15px; */
}

.grid-item-header{
    grid-column: add-column / span 2;
    grid-row: 1 / span 1;
    justify-self: center;
}

.grid-item-settings {
    grid-column: repeat-column / span 1;
    grid-row: 1 / span 1;
    justify-self: end;
    align-self: center;
}

.grid-item-add {
    grid-column: add-column / span 1;
    grid-row: main-row / span 1;
}

.grid-item-repeat {
    grid-column: repeat-column / span 1;
    grid-row: main-row / span 1;
}

/*.grid-item-agenda {
    grid-column: repeat-column / span 1;
    grid-row: search-row / span 1;
}
*/

/* background, paddings and text colors */

.card-background {
    background-color: #FFFFFF;
    /*heavy shadow for dark bg
     * saving old for light bg:
     * box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    */
    box-shadow: 8px 8px 8px 8px rgba(9, 9, 9, 0.8);
    padding-bottom: 20px;
    padding-right: 20px;
}

.grid-item-add {
    max-height: max-content;
}

.grid-item-repeat {
    max-height: 90vh;
    overflow-y: scroll;
}

.white-header {
    color: white;
    font-size: 2em;
    margin: 0 0 15px 0;
    font-weight: bold;
}

.main-header {
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Istok+Web', serif;
}

.padded {
    padding: 35px;
    padding-bottom: 20px;
}

.left-padded {
    padding-left: 45px;
}

.items {
    margin: 0;
}

/* settings button styles */
i {
vertical-align:middle;
}

.header-button {
	background-color:#ffffff;
	border:1px solid #0b0038;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	padding:6px 24px;
	text-decoration:none;
}
.header-button:hover {
	background-color:#f6f6f6;
}
.header-button:active {
	position:relative;
	top:1px;
}

/* main orange buttons styles */
.main-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background-color:#fb9e25;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border-width:1px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.main-button:hover {
	background-color:#ffc477;
}
.main-button:active {
	position:relative;
	top:1px;
}


.show-history {
    float: right;
    margin: 0;
    margin-bottom: 10px;
}

.add-item-button {
    float: right;
    margin: 10px;
}

.tagcloud a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 3px;
    margin: 0 3px 3px 0;
    border-radius: 3px;
    font-family: 'Roboto Condensed';
}

.items {
    list-style: none;
}

.added_days_ago {
    font-size: 0.8em;
    float: right;
    margin-top: 6px;
}

hr {
    margin-top: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

.checkbox {
    vertical-align: -2px;
}
